div.ui
    h2.ui.header.dash_header
        i.sidebar.icon
        div.content
            | Layers
            div.sub.header Composition layers
    div.ui.horizontal.divider
        i.ellipsis.horizontal.icon
    div(style="display: none;")
        img#colorbars(src="media/color_bars.jpg")
        div(ng-repeat="sequence in timeline.sequences")
            video(ng-repeat="segment in sequence.segments", id="{{segment.media.id}}", height="120px", width="120px", media="segment.media")
    div(style='height:400px;')
        div.ui.icon.medium.vertical.left.floated.buttons(style="margin: 4px;")
            button.ui.green.button(ng-click="timeline.addSequence()")
                i.plus.icon
            button.ui.black.button
                i.cut.icon
            button.ui.black.button
                i.resize.horizontal.icon
            button.ui.black.button
                i.pointing.up.icon
            button.ui.black.button
                i.ticket.icon
            button.ui.black.button
                i.crosshairs.icon
        div.ui.icon.medium.vertical.right.floated.black.buttons(style="margin: 4px;")
            button.ui.button(ng-click="timeline.zoomIn()")
                i.zoom.icon
            button.ui.button(ng-click="timeline.zoomOut()")
                i.zoom.out.icon
            button.ui.button(ng-click="timeline.fitAll()")
                i.expand.icon
        vis-timeline(data='timeline.data', options='timeline.options', events='timeline.events')