div.ui
    h2.ui.header.dash_header
        i.sidebar.icon
        div.content
            | Layers
            div.sub.header Composition layers
    div.ui.horizontal.divider
        i.ellipsis.horizontal.icon
    div(style="display: none;")
        video(ng-repeat="layer in timeline.layers", id="{{layer.media.id}}", height="120px", width="120px", media="layer.media")
    div(ng-class="{dropzone: timeline.isAddingMedia}", style='height:400px;', ng-drop='true', ng-drop-success='timeline.onAddMedia($data)')
        div.ui.icon.medium.vertical.left.floated.black.buttons(style="margin: 4px;")
            button.ui.button(ng-click="timeline.addSequence()")
                i.plus.icon
            button.ui.button
                i.cut.icon
            button.ui.button
                i.resize.horizontal.icon
            button.ui.button
                i.pointing.up.icon
            button.ui.button
                i.ticket.icon
            button.ui.button
                i.crosshairs.icon
        div.ui.icon.medium.vertical.right.floated.black.buttons(style="margin: 4px;")
            button.ui.button(ng-click="timeline.zoomIn()")
                i.zoom.icon
            button.ui.button(ng-click="timeline.zoomOut()")
                i.zoom.out.icon
            button.ui.button(ng-click="timeline.fitAll()")
                i.expand.icon
        div.message(ng-if="timeline.isAddingMedia") Drop media here
        vis-timeline#test1(ng-if='!timeline.isAddingMedia', data='timeline.data', options='timeline.options', events='timeline.events')