div.ui.segment
    h2.ui.header.dash_header
        i.sidebar.icon
        div.content
            | Layers
            div.sub.header Composition layers
    div.ui.divider
    div.ui.icon.medium.black.buttons
        button.ui.button
            i.cut.icon
        button.ui.button
            i.resize.horizontal.icon
    | &nbsp;
    div.ui.icon.medium.right.floated.black.buttons
        button.ui.button(ng-click="timeline.zoomIn()")
            i.zoom.icon
        button.ui.button(ng-click="timeline.zoomOut()")
            i.zoom.out.icon
        button.ui.button(ng-click="timeline.fitAll()")
            i.expand.icon
    div.ui.divider
    div(style="display: none;")
        video(ng-repeat="layer in timeline.layers", id="{{layer.media.id}}", height="120px", width="120px", media="layer.media")

    .panel-body(ng-class="{dropzone: timeline.isAddingMedia}", style='height:400px;', ng-drop='true', ng-drop-success='timeline.onAddMedia($data)')
        div.message(ng-if="timeline.isAddingMedia") Drop media here
        vis-timeline#test1(ng-if='!timeline.isAddingMedia', data='timeline.data', options='timeline.options', events='timeline.events')