div.ui.equal.width.center.aligned.padded.grid
    div.row
        div.column(ui-view="properties@")
        div.ui.vertical.divider
            i.ellipsis.vertical.icon
        div.column(ui-view="previewer@")
        div.ui.vertical.divider
            i.ellipsis.vertical.icon
        div.column(ui-view="resources@")
    div.row
        div.column(ui-view="timeline@")
