div.ui.two.column.grid(ng-controller="MediaCtrl as media", style="overflow: auto; height: 439px")
    div.column(ng-repeat="source in media.sources", ng-drag='true', ng-drag-data='source', data-allow-transform='true')
        div.ui.segment
            video(style="width: 100%; height: 140px; background-color: black;", controls)
                source(src="{{source.path}}", type="{{source.type}}")
            div.ui.olive.message
                p {{source.title}}
