div.ui.two.column.grid(ng-controller="MediaCtrl as media", style="height: 339px")
    div.column(ng-repeat="source in media.sources", draggable, data="source", label="{{source.title}}")
        div.ui.segment
            video(style="width: 100%; height: 140px; background-color: black;", controls)
                source(src="{{source.path}}", type="{{source.type}}")
            div.ui.olive.message
                p {{source.title}}
