div.ui(droppable, hover-class="tertiary", on-drop="properties.onDrop")
    h2.ui.header.dash_header
        i.paint.brush.icon
        div.content
            div(style="text-align: left") Properties
            div.sub.header(ng-if="properties.active_segment !== null") Properties for {{properties.active_layer.name}}
            div.sub.header(ng-if="properties.active_segment === null") No layer selected
    div.ui.divider
    .ui.info.message(ng-if="properties.active_segment.effects.length === 0")
        .header You have not added any effects
    table.ui.compact.celled.striped.definition.table(ng-if="properties.active_segment.effects.length> 0")
        thead
            tr
                th
                th Enabled
                th(colspan="2") Effect
        tbody(ng-repeat="effect in properties.active_segment.effects")
            tr
                th.collapsing
                    i.link.handle.list.layout.icon
                    i.link.remove.icon(ng-click="properties.removeEffect(effect)")
                td
                    .ui.fitted.slider.checkbox
                        input(type="checkbox", ng-model="effect.active", ng-change="properties.refreshContext()")
                        label
                td {{effect.node.title}}
                td.right.aligned.collapsing
                    i.settings.icon.link(ng-click="effect.isConfiguring = !effect.isConfiguring", ng-class="{'bordered inverted teal': effect.isConfiguring}")
                    i.options.icon.link(ng-click="effect.isAnimating = !effect.isAnimating", ng-class="{'bordered inverted teal': effect.isAnimating}")
            tr(ng-if="effect.isConfiguring")
                td Config
                td(colspan="3")
                    .content
                        form.ui.form
                            .field(ng-repeat="param in effect.params")
                                label(ng-if="param.input.title != 'source'")
                                    | {{param.input.title | uppercase}}
                                div(ng-switch="param.input.type")
                                    div.ui.icon.left.floated.tiny.buttons(ng-if="param.input.type === 'enum' || param.input.type === 'number'", style="margin-top: 14px;")
                                        button.ui.button(ng-class="{orange: param.isAnimating}", ng-click="properties.toggleAnimation(param)")
                                            i.lightning.icon
                                        button.ui.button(ng-if="param.isAnimating", ng-click="properties.addKeyframe(param, effect.node[param.input.title])")
                                            i.plus.icon
                                    div(ng-switch-when="enum", style="margin-left: {{param.isAnimating ? '70px': '40px'}}")
                                        .ui.selection.dropdown(semantic-dropdown, ng-model="effect.node[param.title]")
                                            i.dropdown.icon
                                            .default.text {{param.defaultValue}}
                                            .menu
                                                .item(ng-repeat="option in param.input.options") {{option}}
                                    div(ng-switch-when="number", style="margin-left: {{param.isAnimating ? '70px': '40px'}}")
                                        rzslider(rz-slider-floor="param.input.min", rz-slider-ceil="param.input.max == 'Infinity' ? 200 : param.input.max", rz-slider-step="0.01", rz-slider-model="effect.node[param.input.title]", rz-slider-precision="2")
            tr(ng-if="effect.isAnimating")
                td Animate
                td(colspan="3")
                    vis-timeline(data='properties.data', options='properties.options', events='properties.events')