div.ui(droppable, hover-class="tertiary", on-drop="properties.onDrop")
    h2.ui.header.dash_header
        i.paint.brush.icon
        div.content
            | Properties
            div.sub.header(ng-if="properties.active_layer !== null") Properties for {{properties.active_layer.name}}
            div.sub.header(ng-if="properties.active_layer === null") No layer selected
    div.ui.divider
    .ui.info.message(ng-if="properties.active_layer.effects.length === 0")
        .header You have not added any effects
    table.ui.compact.celled.striped.definition.table(ng-if="properties.active_layer.effects.length> 0")
        thead
            tr
                th
                th Enabled
                th(colspan="2") Effect
        tbody(ng-repeat="effect in properties.active_layer.effects")
            tr
                th.collapsing
                    i.link.handle.list.layout.icon
                    i.link.remove.icon(ng-click="properties.removeEffect(effect)")
                td
                    .ui.fitted.slider.checkbox
                        input(type="checkbox", ng-model="effect.enabled" ng-change="app.effectsChanged()")
                        label
                td {{effect.node.title}}
                td.right.aligned.collapsing
                    i.settings.icon.link(ng-click="effect.isConfiguring = !effect.isConfiguring", ng-class="{'bordered inverted teal': effect.isConfiguring}")
                    i.options.icon.link(ng-click="effect.isAnimating = !effect.isAnimating", ng-class="{'bordered inverted teal': effect.isAnimating}")
            tr(ng-if="effect.isConfiguring")
                td Config
                td(colspan="3")
                    .content
                        form.ui.form
                            .field(ng-repeat="param in effect.params")
                                label(ng-if="param.title != 'source'") {{param.title | uppercase}}
                                div(ng-switch="param.type")
                                    div(ng-switch-when="enum")
                                        .ui.selection.dropdown(semantic-dropdown, ng-model="effect.node[param.title]")
                                            i.dropdown.icon
                                            .default.text {{param.defaultValue}}
                                            .menu
                                                .item(ng-repeat="option in param.options") {{option}}
                                    div(ng-switch-when="number")
                                        rzslider(rz-slider-floor="param.min", rz-slider-ceil="param.max == 'Infinity' ? 200 : param.max", rz-slider-step="0.01", rz-slider-model="effect.node[param.title]", rz-slider-precision="2")
            tr(ng-if="effect.isAnimating")
                td Animate
                td(colspan="3") Animating prefs