div.ui.segment
    h2.ui.header.dash_header
        i.film.icon
        div.content
            | Preview
            div.sub.header Composition preview
    div.ui.divider
    .ui.two.column.centered.grid.segment
        canvas#canvas(width="320px", height="240px")
    .ui.two.column.centered.grid
        .ui.icon.buttons
            button.ui.button(ng-click="previewer.play()")
                i.play.icon
            button.ui.button(ng-click="previewer.pause()")
                i.pause.icon
            button.ui.button(ng-click="previewer.next()")
                i.fast.forward.icon